<div id="info-btn" class="btn-info" {{action "showInfo"}}>
  <span class="bullet-icon icon-info"></span>
  How is this score calculated?
</div> {{! info-btn }}
<div id="info-text" class="hidden risk-info-hidden m-text">
  <span class="bullet-icon icon-info"></span>
  <p>This score uses tradeline and collections information, public filings, and other variables to predict the risk of serious credit delinquencies within the next 12 months.</p>
</div> {{! info-text }}