<div class="main-bg main-bg-l">
  <svg class="svg-bg overview-bg" viewBox="0 0 100 100">
    <defs>
      <mask id="bg-mask-l">
        <rect x="0" y="0" width="100vw" height="50%" />
      </mask>
    </defs>
    <g mask="url(#bg-mask-l)">
      <circle cx="75" cy="150" r="150"/>
    </g>
  </svg>
</div> {{! main-bg-l }}
<div class="main-bg main-bg-s">
  <svg class="svg-bg overview-bg" viewBox="0 0 100 100">
    <defs>
      <mask id="bg-mask-s">
        <rect x="0" y="0" width="100vw" height="100%" />
      </mask>
    </defs>
    <g mask="url(#bg-mask-s)">
      <circle cx="75" cy="150" r="150"/>
    </g>
  </svg>
</div> {{! main-bg-s }}