<footer class="{{if isIndex "footer-clear"}}">

  <div class="footer-top main-wrapper section-grid">

    <div class="assistance-box s-text">
      <h2 class="h-h2">Need assistance?</h2>
      <div class="assistance-info">
        <h4><span class="icon-contact icon-phone"></span>1-888-579-5910</h4>
        <p>When calling, use member ID <span>791509951</span></p>
        <p><span>Weekends</span> 8AM - 9PM Eastern</p>
        <p><span>Weekends</span> 12PM - 8PM Eastern</p>
      </div>
      <div class="assistance-info">
        <h4><span class="icon-contact icon-mail"></span>help@xyz.com</h4>
      </div>
    </div> {{! assistance-box }}

    <nav class="footer-top-nav left-nav">
      <h4>About Us</h4>
      <ul>
        <li><a href="#">About XYZ</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </nav>

    <nav class="footer-top-nav right-nav">
      <h4>Resources</h4>
      <ul>
        <li><a href="#">Set Goals</a></li>
        <li><a href="#">XYZ Tips</a></li>
      </ul>
    </nav>

    <div class="social-container">
      <div>
        <span><a href="#" class="icon-social icon-facebook"></a></span>
        <span><a href="#" class="icon-social icon-twitter"></a></span>
        <span><a href="#" class="icon-social icon-gplus"></a></span>
        <span><a href="#" class="icon-social icon-instagram"></a></span>
        <span><a href="#" class="icon-social icon-pinterest"></a></span>
      </div>
    </div> {{! social-container }}
  </div> {{! footer-top }}

  <div class="footer-bottom main-wrapper s-text">
    <p>XYZ © 2017 All Right Reserved</p>
    <nav class="footer-bottom-nav">
      <ul>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </nav>
  </div> {{! footer-bottom }}
  
</footer>