<header>
  <div class="main-wrapper">

    <div class="logo-container">
      {{#link-to 'index' class="logo"}}{{/link-to}}
    </div> {{! logo-container }}

    <nav class="main-nav">
      <ul>
        <li>{{#link-to 'report'}} Report {{/link-to}}</li>
        <li>{{#link-to 'settings'}} Settings {{/link-to}}</li>
      </ul>
    </nav>
    
  </div> {{! main-wrapper }}
</header>