@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: 'Kaleidos';
  src: url("/assets/fonts/kaleidos_regular/kaleidos-webfont.eot");
  src: url("/assets/fonts/kaleidos_regular/kaleidos-webfont.woff2") format("woff2"), url("/assets/fonts/kaleidos_regular/kaleidos-webfont.woff") format("woff"), url("/assets/fonts/kaleidos_regular/kaleidos-webfont.ttf") format("truetype"), url("/assets/fonts/kaleidos_regular/kaleidos-webfont.svg#kaleidosregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Merlo Neue';
  src: url("/assets/fonts/merloneue_regular/merloneue-regular-webfont.eot");
  src: url("/assets/fonts/merloneue_regular/merloneue-regular-webfont.woff2") format("woff2"), url("/assets/fonts/merloneue_regular/merloneue-regular-webfont.woff") format("woff"), url("/assets/fonts/merloneue_regular/merloneue-regular-webfont.ttf") format("truetype"), url("/assets/fonts/merloneue_regular/merloneue-regular-webfont.svg#merloneueregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Merlo Neue';
  src: url("/assets/fonts/merloneue_italic/merloneue-italic-webfont.eot");
  src: url("/assets/fonts/merloneue_italic/merloneue-italic-webfont.woff2") format("woff2"), url("/assets/fonts/merloneue_italic/merloneue-italic-webfont.woff") format("woff"), url("/assets/fonts/merloneue_italic/merloneue-italic-webfont.ttf") format("truetype"), url("/assets/fonts/merloneue_italic/merloneue-italic-webfont.svg#merloneueitalic") format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Merlo Neue';
  src: url("/assets/fonts/merloneue_medium/merloneue-medium-webfont.eot");
  src: url("/assets/fonts/merloneue_medium/merloneue-medium-webfont.woff2") format("woff2"), url("/assets/fonts/merloneue_medium/merloneue-medium-webfont.woff") format("woff"), url("/assets/fonts/merloneue_medium/merloneue-medium-webfont.ttf") format("truetype"), url("/assets/fonts/merloneue_medium/merloneue-medium-webfont.svg#merloneuemedium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Merlo Neue';
  src: url("/assets/fonts/merloneue_semibold/merloneue-semibold-webfont.eot");
  src: url("/assets/fonts/merloneue_semibold/merloneue-semibold-webfont.woff2") format("woff2"), url("/assets/fonts/merloneue_semibold/merloneue-semibold-webfont.woff") format("woff"), url("/assets/fonts/merloneue_semibold/merloneue-semibold-webfont.ttf") format("truetype"), url("/assets/fonts/merloneue_semibold/merloneue-semibold-webfont.svg#merloneuesemibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Merlo Neue';
  src: url("/assets/fonts/merloneue_semibolditalic/merloneue-semibolditalic-webfont.eot");
  src: url("/assets/fonts/merloneue_semibolditalic/merloneue-semibolditalic-webfont.woff2") format("woff2"), url("/assets/fonts/merloneue_semibolditalic/merloneue-semibolditalic-webfont.woff") format("woff"), url("/assets/fonts/merloneue_semibolditalic/merloneue-semibolditalic-webfont.ttf") format("truetype"), url("/assets/fonts/merloneue_semibolditalic/merloneue-semibolditalic-webfont.svg#merloneuesemibolditalic") format("svg");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Merlo Neue';
  src: url("/assets/fonts/merloneue_bold/merloneue-bold-webfont.eot");
  src: url("/assets/fonts/merloneue_bold/merloneue-bold-webfont.woff2") format("woff2"), url("/assets/fonts/merloneue_bold/merloneue-bold-webfont.woff") format("woff"), url("/assets/fonts/merloneue_bold/merloneue-bold-webfont.ttf") format("truetype"), url("/assets/fonts/merloneue_bold/merloneue-bold-webfont.svg#merloneuebold") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Merlo Neue';
  src: url("/assets/fonts/merloneue_bolditalic/merloneue-bolditalic-webfont.eot");
  src: url("/assets/fonts/merloneue_bolditalic/merloneue-bolditalic-webfont.woff2") format("woff2"), url("/assets/fonts/merloneue_bolditalic/merloneue-bolditalic-webfont.woff") format("woff"), url("/assets/fonts/merloneue_bolditalic/merloneue-bolditalic-webfont.ttf") format("truetype"), url("/assets/fonts/merloneue_bolditalic/merloneue-bolditalic-webfont.svg#merloneuebolditalic") format("svg");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'FontAwesome';
  src: url("/assets/fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("/assets/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("/assets/fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("/assets/fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("/assets/fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("/assets/fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box; }

html {
  font: 16px "Merlo Neue", sans-serif;
  line-height: 22px;
  color: #000245;
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  left: 0;
  transition: left .5s; }

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin: 0 0 10px;
  padding: 0; }

canvas {
  position: relative;
  z-index: 1; }

h1 {
  text-align: center; }

.heading {
  font: italic 600 44px "Merlo Neue", sans-serif;
  color: #000245;
  position: relative;
  z-index: 2; }

.subheading {
  font: 400 26px "Merlo Neue", sans-serif;
  color: #000245; }

.h-light {
  color: #FFFFFF; }

.h-h2 {
  font: italic 600 34px "Merlo Neue", sans-serif; }
  @media only screen and (min-width: 768px) {
    .h-h2 {
      font-size: 36px; } }

.h-h3 {
  font: italic 700 14px "Merlo Neue", sans-serif;
  color: #FF3636;
  text-transform: uppercase; }
  @media only screen and (min-width: 1024px) {
    .h-h3 {
      font-size: 16px; } }

.h-highlight {
  font: 30px "Kaleidos", cursive; }
  @media only screen and (min-width: 1024px) {
    .h-highlight {
      font-size: 38px; } }

a {
  text-decoration: none;
  color: #000245; }
  a:hover {
    color: #FF3636; }

.btn, .btn-outlined, .btn-info, .btn-white, .btn-simple {
  background: none;
  border: none;
  cursor: pointer; }

.btn:focus, .btn-outlined:focus, .btn-info:focus, .btn-white:focus, .btn-simple:focus {
  outline: none; }

.btn-outlined, .btn-info {
  display: inline-block;
  height: 30px;
  border-radius: 15px;
  font: italic 600 14px "Merlo Neue", sans-serif;
  color: inherit;
  border: 1px solid #FF3636;
  padding: 4px 15px 0; }
  .btn-outlined:hover, .btn-info:hover {
    border-width: 2px; }

.btn-form {
  text-transform: uppercase; }

.btn-info {
  transition: all .3s; }
  .btn-info span:before {
    font-size: 14px;
    margin-right: 8px; }

.btn-white {
  height: 40px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FFF;
  font: italic 600 14px "Merlo Neue", sans-serif;
  color: #FF3636; }
  .btn-white:hover {
    font-weight: 700; }

.btn-simple {
  color: #FF3636;
  font: italic 500 14px "Merlo Neue", sans-serif; }

.risk-list {
  margin-bottom: 30px; }
  @media only screen and (min-width: 1400px) {
    .risk-list {
      margin-bottom: 40px; } }
  .risk-list li {
    list-style: none;
    margin-bottom: 15px; }
    @media only screen and (min-width: 1400px) {
      .risk-list li {
        margin-bottom: 20px; } }
  .risk-list li:before {
    content: '\f00d'; }

label {
  display: block;
  font: 500 14px "Merlo Neue", sans-serif;
  color: #000245;
  margin-bottom: 10px; }

input, textarea {
  font: 24px 'Roboto', sans-serif;
  color: #000245; }

input {
  height: 40px;
  border: none;
  padding: 0 10px;
  background-color: transparent;
  width: 100%;
  max-width: 500px;
  transition: all .2s; }

input:focus {
  outline: none; }
  input:focus ~ .underline {
    background-color: #FF3636; }

input:disabled {
  background-color: #E4E8EF;
  padding: 0; }
  input:disabled ~ .underline {
    display: none; }

input:invalid ~ .input-icon:after, .error:after {
  color: #FF3636;
  content: '\f057'; }

.valid:after {
  color: #0F9A45;
  content: '\f058'; }

.s-text {
  font-size: 14px;
  line-height: 20px; }

.m-text {
  font-size: 16px;
  line-height: 22px; }
  @media only screen and (min-width: 1024px) {
    .m-text {
      font-size: 18px;
      line-height: 24px; } }

.l-text {
  font-size: 20px;
  line-height: 26px; }
  @media only screen and (min-width: 1024px) {
    .l-text {
      font-size: 24px;
      line-height: 30px; } }
  @media only screen and (min-width: 1400px) {
    .l-text {
      font-size: 28px;
      line-height: 34px; } }

.highlight-text {
  font-size: 26px;
  line-height: 32px;
  font-style: italic; }
  .highlight-text strong {
    font-weight: 600; }

nav li {
  list-style: none;
  display: inline-block; }

.nav {
  padding: 20px 0; }
  .nav a {
    font: 500 18px "Merlo Neue", sans-serif;
    color: #000245; }
  .nav a:hover {
    color: #FF5050; }
  .nav a.active {
    font-weight: 600;
    color: #FF3636; }

.main-nav {
  display: none; }
  .main-nav li {
    margin-left: 40px; }
  .main-nav li:first-child {
    margin-left: 0; }
  @media only screen and (min-width: 768px) {
    .main-nav {
      display: block; } }

.mobile-nav li {
  display: block; }
.mobile-nav a {
  padding: 30px 0;
  display: block;
  position: relative; }
.mobile-nav span {
  position: absolute;
  top: 20px;
  font: inherit;
  font-weight: 600; }

.nav-mobile-container {
  width: 85vw;
  height: 100vh;
  position: fixed;
  right: -85vw;
  z-index: 5;
  background-color: #fff;
  padding-left: 40px;
  transition: right .5s; }
  @media only screen and (min-width: 768px) {
    .nav-mobile-container {
      display: none; } }

.nav-mobile-container-open {
  right: 0; }

.push-body {
  left: -85vw; }

.btn-mobile {
  width: 200px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px; }

.mobile-bg {
  transition: all .5s;
  background-color: #FF3636;
  opacity: 0;
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }

.mobile-bg-shown {
  opacity: 1; }

.icon-menu-mobile {
  padding-top: 25px; }
  @media only screen and (min-width: 768px) {
    .icon-menu-mobile {
      display: none; } }

.icon-menu-close {
  background-color: #FFFFFF;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 7; }

.icon-menu-close-shown {
  opacity: 1; }

.footer-top-nav h4 {
  color: #FF3636;
  font: 36px "Kaleidos", cursive; }
.footer-top-nav li {
  display: block;
  margin-top: 25px; }
.footer-top-nav a {
  font-size: 18px; }

.footer-bottom-nav li {
  padding: 0 12px;
  border-left: 1px solid #000245; }
.footer-bottom-nav li:first-child {
  padding-left: 0;
  border-left: none; }

.footer-bg .footer-bottom-nav li {
  border-color: #FFFFFF; }

.svg-bg {
  position: absolute;
  z-index: 0; }

.tax-bg {
  fill: #000245; }

.update-bg {
  fill: #FF3636; }

.overview-bg {
  fill: #E4E8EF; }

.main-bg {
  padding-top: 160px;
  width: 300vw;
  z-index: -2; }

.main-bg-l {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .main-bg-l {
      display: block; } }

@media only screen and (min-width: 1024px) {
  .main-bg-s {
    display: none; } }

.company-overview-bg {
  background-color: #E4E8EF; }
  @media only screen and (min-width: 768px) {
    .company-overview-bg {
      background-color: transparent; } }

.chart {
  position: relative; }

.chart-info {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 58%;
  text-align: center;
  color: #FFFFFF; }
  @media only screen and (min-width: 1024px) {
    .chart-info {
      top: 55%; } }
  .chart-info span {
    display: block; }

.chart-number {
  font: 70px "Kaleidos", cursive;
  line-height: 1; }
  @media only screen and (min-width: 480px) {
    .chart-number {
      font-size: 84px; } }
  @media only screen and (min-width: 1024px) {
    .chart-number {
      font-size: 110px; } }
  @media only screen and (min-width: 1400px) {
    .chart-number {
      font-size: 140px; } }

.chart-label {
  width: 75%;
  margin: 0 auto; }

.chart-text {
  text-transform: uppercase; }

.report-update-label {
  font: italic 700 10px "Merlo Neue", sans-serif; }
  @media only screen and (min-width: 480px) {
    .report-update-label {
      font-size: 12px; } }
  @media only screen and (min-width: 1024px) {
    .report-update-label {
      font-size: 16px; } }

.risk-chart {
  grid-column: 1 / span 3;
  grid-row: 2 / 3;
  width: 60%;
  margin: 0 auto; }
  @media only screen and (min-width: 480px) {
    .risk-chart {
      width: 40%; } }
  @media only screen and (min-width: 768px) {
    .risk-chart {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      width: 90%; } }
  @media only screen and (min-width: 1024px) {
    .risk-chart {
      grid-column: 1 / span 4;
      width: 75%; } }

.risk-chart-info {
  top: 60%; }

.risk-number {
  position: relative;
  left: -5%; }

.report-update-text {
  font: italic 600 18px "Merlo Neue", sans-serif; }
  @media only screen and (min-width: 480px) {
    .report-update-text {
      font-size: 22px; } }
  @media only screen and (min-width: 1024px) {
    .report-update-text {
      font-size: 30px; } }
  @media only screen and (min-width: 1400px) {
    .report-update-text {
      font-size: 36px; } }

.risk-text {
  font: italic 600 16px "Merlo Neue", sans-serif;
  text-transform: uppercase; }
  @media only screen and (min-width: 1024px) {
    .risk-text {
      font-size: 24px; } }
  @media only screen and (min-width: 1400px) {
    .risk-text {
      font-size: 28px; } }

.risk-disclaimer {
  font: italic 700 14px "Merlo Neue", sans-serif;
  text-align: center;
  width: 65%;
  margin: 10px auto 0; }
  @media only screen and (min-width: 768px) {
    .risk-disclaimer {
      margin-top: 30px; } }
  @media only screen and (min-width: 1024px) {
    .risk-disclaimer {
      width: 100%;
      margin: 30px 0 0;
      font-size: 16px; } }
  @media only screen and (min-width: 1400px) {
    .risk-disclaimer {
      margin-top: 40px; } }

.company-info {
  grid-column: 1 / span 3;
  grid-row-start: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media only screen and (min-width: 768px) {
    .company-info {
      grid-column: 2 / span 3; } }
  @media only screen and (min-width: 1024px) {
    .company-info {
      grid-column: 3 / span 6; } }

.info-box {
  margin-bottom: 30px;
  width: 100%; }
  .info-box p {
    position: relative; }
  @media only screen and (min-width: 1400px) {
    .info-box {
      margin-bottom: 40px; } }

.info-col {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .info-col {
      width: 50%; } }

.tax-identifier {
  grid-column: 1 / span 2;
  grid-row-start: 2;
  width: 70%;
  color: #FFFFFF;
  position: absolute;
  top: 10%; }
  @media only screen and (min-width: 768px) {
    .tax-identifier {
      width: 100%;
      grid-column: 1 / 2;
      grid-row-start: 1; } }
  @media only screen and (min-width: 1024px) {
    .tax-identifier {
      grid-column: 1 / span 2; } }

.tax-info {
  position: relative;
  margin: 35% 0 0 15%;
  z-index: 1; }
  @media only screen and (min-width: 768px) {
    .tax-info {
      text-align: center;
      margin-top: 20%;
      margin-left: 0; } }
  @media only screen and (min-width: 1024px) {
    .tax-info {
      margin-top: 30%; } }
  .tax-info span {
    font-size: 16px;
    margin-bottom: 15px; }
    @media only screen and (min-width: 480px) {
      .tax-info span {
        font-size: 20px; } }
    @media only screen and (min-width: 768px) {
      .tax-info span {
        font-size: 16px;
        margin-bottom: 10px; } }
    @media only screen and (min-width: 1024px) {
      .tax-info span {
        font-size: 24px;
        margin-bottom: 20px; } }
    @media only screen and (min-width: 1400px) {
      .tax-info span {
        font-size: 28px; } }
  .tax-info strong {
    font-weight: 600; }

.report-updates {
  grid-column: 2 / span 2;
  grid-row-start: 2;
  position: relative;
  width: 90%;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .report-updates {
      grid-column: 5 / span 2;
      grid-row-start: 1; } }
  @media only screen and (min-width: 1024px) {
    .report-updates {
      grid-column: 9 / span 4; } }
  @media only screen and (min-width: 1400px) {
    .report-updates {
      width: 80%; } }

.risk-section {
  position: relative;
  z-index: 3; }

.risk-subsection {
  padding: 20px 0 60px; }
  .risk-subsection p {
    margin: 15px;
    width: 100%; }
  .risk-subsection img {
    float: right;
    width: 215px;
    height: 30px; }
  @media only screen and (min-width: 768px) {
    .risk-subsection {
      display: flex;
      justify-content: space-between;
      padding: 30px 0; }
      .risk-subsection p {
        width: 60%;
        margin: 0; }
      .risk-subsection img {
        float: none; } }

.risk-title {
  margin-bottom: 30px;
  grid-column: 1 / span 3;
  grid-row: 1 / 2; }
  @media only screen and (min-width: 768px) {
    .risk-title {
      grid-column: 3 / span 4; } }
  @media only screen and (min-width: 1024px) {
    .risk-title {
      grid-column: 5 / span 8; } }
  @media only screen and (min-width: 1400px) {
    .risk-title {
      margin-bottom: 40px; } }

.risk-info {
  grid-column: 1 / span 3;
  grid-row: 3 / 4;
  margin-top: 60px; }
  @media only screen and (min-width: 768px) {
    .risk-info {
      grid-column: 3 / span 4;
      grid-row: 2 / 3;
      margin-top: 0; } }
  @media only screen and (min-width: 1024px) {
    .risk-info {
      grid-column: 5 / span 8; } }

.risk-info-hidden {
  border-top: 1px solid #FF3636;
  padding-top: 30px; }
  @media only screen and (min-width: 1400px) {
    .risk-info-hidden {
      padding-top: 40px; } }
  .risk-info-hidden p {
    display: inline-block;
    width: 85%; }
  .risk-info-hidden span {
    position: relative;
    top: -60px; }
    @media only screen and (min-width: 480px) {
      .risk-info-hidden span {
        top: -40px; } }
    @media only screen and (min-width: 1400px) {
      .risk-info-hidden span {
        top: -15px; } }

.info-block {
  border-radius: 5px;
  background-color: #FF3636;
  width: 85%;
  margin: 0 auto;
  padding: 35px;
  color: #FFFFFF;
  overflow: hidden; }
  .info-block h2 {
    margin-bottom: 30px; }
  .info-block p {
    margin-bottom: 20px; }
    @media only screen and (min-width: 1400px) {
      .info-block p {
        margin-bottom: 30px; } }
  .info-block span {
    display: block;
    margin-bottom: 10px; }
  .info-block .btn-logout {
    display: none; }
    @media only screen and (min-width: 768px) {
      .info-block .btn-logout {
        display: initial;
        float: right;
        margin-top: 30px; } }

.assistance-box {
  background-color: #E4E8EF;
  grid-column: 1 / span 3;
  grid-row: 1 / 2;
  position: relative;
  width: 100vw;
  border-radius: 10px 0 0 10px;
  padding: 20px;
  color: #000245; }
  @media only screen and (min-width: 768px) {
    .assistance-box {
      grid-column: 4 / span 3;
      grid-row: 1 / span 2;
      width: 50vw; } }
  @media only screen and (min-width: 1024px) {
    .assistance-box {
      grid-column: 8 / span 5; } }
  .assistance-box h2 {
    margin-bottom: 20px; }

.assistance-info {
  margin-bottom: 30px; }
  .assistance-info h4 {
    font: italic 600 24px "Merlo Neue", sans-serif;
    color: #FF3636;
    margin-bottom: 0; }
  .assistance-info p {
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 40px; }
  .assistance-info span {
    font-weight: 600;
    color: #FF3636; }

.icon:before {
  display: inline-block;
  font-family: "FontAwesome"; }

.icon-social {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #000245;
  border-radius: 50%;
  position: relative;
  text-align: center;
  margin-right: 5px; }
  @media only screen and (min-width: 768px) {
    .icon-social {
      margin-right: 10px; } }
  .icon-social:hover {
    background-color: #FF5050; }
  .icon-social:before {
    font: 30px "FontAwesome";
    position: relative;
    color: #FFFFFF;
    top: 10px; }

.footer-bg .icon-social {
  background-color: #FFFFFF; }
  .footer-bg .icon-social:before {
    color: #000245; }
  .footer-bg .icon-social:hover {
    background-color: #FF5050; }

.icon-social:hover ~ .icon-social:before {
  color: #FFFFFF; }

.icon-facebook:before {
  content: '\f09a'; }

.icon-twitter:before {
  content: '\f099'; }

.icon-gplus:before {
  content: '\f0d5';
  font-size: 26px; }

.icon-instagram:before {
  content: '\f16d'; }

.icon-pinterest:before {
  content: '\f0d2'; }

.icon-contact {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #FF3636;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center; }

.icon-contact:before {
  color: #FFFFFF;
  font: 20px "FontAwesome";
  position: relative; }

.icon-phone:before {
  content: '\f095';
  top: -2px; }

.icon-mail:before {
  content: '\f0e0';
  font-size: 15px;
  top: -5px; }

.bullet-icon:before {
  font: 20px "FontAwesome";
  color: #FF3636;
  display: inline-block;
  margin-right: 15px; }
  @media only screen and (min-width: 1024px) {
    .bullet-icon:before {
      font-size: 24px; } }
  @media only screen and (min-width: 1400px) {
    .bullet-icon:before {
      font-size: 28px;
      margin-right: 20px; } }

.icon-info:before {
  content: '\f05a'; }

.input-icon:after {
  position: absolute;
  top: 30px;
  right: 0;
  font: 20px "FontAwesome";
  display: inline-block; }
  @media only screen and (min-width: 1024px) {
    .input-icon:after {
      font-size: 24px; } }
  @media only screen and (min-width: 1400px) {
    .input-icon:after {
      font-size: 28px; } }

.icon-arrow {
  width: 20px;
  height: 20px; }

.icon-arrow:after {
  margin-left: 10px;
  position: absolute;
  top: -5px;
  font: 40px "FontAwesome";
  display: inline-block;
  color: #FF3636;
  content: '\f0a9'; }

.icon-arrow:hover:after {
  color: #FF5050; }

.icon-menu-mobile:before {
  font-size: 36px;
  content: '\f0c9'; }

.icon-menu-close:before {
  content: '\f00d';
  color: #FF3636;
  font-size: 36px;
  padding: 10px; }

.member-form {
  width: 85%;
  margin: 0 auto; }

.field {
  position: relative; }
  .field .underline {
    width: 100%;
    max-width: 500px;
    height: 5px;
    border-radius: 3px;
    background-color: #E4E8EF;
    display: block;
    transition: all .2s; }
  .field input {
    transition: all .5s; }

.field button, .button-box {
  margin: 20px 0 60px; }

.button-box button {
  margin-right: 15px; }

.field-hidden {
  margin-bottom: 30px; }
  .field-hidden input {
    height: 35px; }

.hidden .field input {
  margin-left: 10px; }

.field-message {
  color: #FF3636;
  font-style: italic;
  margin-left: 20px;
  transition: all .5s; }

.field-message-hidden {
  opacity: 0; }

header {
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: #FFF;
  transition: all .5s; }
  header div {
    display: flex;
    justify-content: space-between; }

.logo-container {
  padding: 20px 0; }

.logo {
  background: no-repeat url("/assets/images/xyz-logo.svg");
  background-size: contain;
  display: inline-block;
  width: 85px;
  height: 65px;
  transition: all .5s; }
  @media only screen and (min-width: 768px) {
    .logo {
      width: 130px;
      height: 100px; } }

.header-mini .logo-container {
  padding: 10px 0; }
.header-mini .logo {
  width: 65px;
  height: 50px; }

main {
  padding-top: 160px; }

.site-wrapper {
  overflow-x: hidden; }

.main-wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .main-wrapper {
      width: 90%; } }
  @media only screen and (min-width: 1400px) {
    .main-wrapper {
      width: 80%; } }

.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 15px; }
  @media only screen and (min-width: 768px) {
    .section-grid {
      grid-template-columns: repeat(6, 1fr); } }
  @media only screen and (min-width: 1024px) {
    .section-grid {
      grid-template-columns: repeat(12, 1fr); } }

.col-left {
  grid-column: 1 / span 3;
  grid-row: 2 / 3; }
  @media only screen and (min-width: 768px) {
    .col-left {
      grid-column: 2 / span 4; } }
  @media only screen and (min-width: 1024px) {
    .col-left {
      grid-column: 1 / span 6;
      grid-row: 1 / 2; } }

.col-right {
  grid-column: 1 / span 3;
  grid-row: 1 / 2; }
  @media only screen and (min-width: 768px) {
    .col-right {
      grid-column: 2 / span 4; } }
  @media only screen and (min-width: 1024px) {
    .col-right {
      grid-column: 7 / span 5; } }

.l-content {
  padding: 60px 0; }
  @media only screen and (min-width: 1400px) {
    .l-content {
      padding: 80px 0; } }

.l-content-relative {
  padding-bottom: 0; }
  .l-content-relative > div {
    padding-bottom: 60px; }
  @media only screen and (min-width: 768px) {
    .l-content-relative {
      padding-bottom: 60px; }
      .l-content-relative > div {
        padding-bottom: 0; } }

.m-content {
  padding: 40px 0; }
  @media only screen and (min-width: 1400px) {
    .m-content {
      padding: 50px 0; } }

.bg-dark {
  background-color: #000245;
  color: #FFFFFF; }

.bg-light {
  background-color: #E4E8EF; }

footer {
  padding: 90px 0 30px; }

.footer-bg footer {
  background-color: #000245;
  color: #FFFFFF; }
.footer-bg a {
  color: inherit; }
.footer-bg a:hover {
  color: #FF5050; }

.footer-clear {
  background-color: none; }

.footer-top-nav {
  max-width: 200px;
  margin: 25px auto 0;
  text-align: center; }
  .footer-top-nav ul {
    padding-left: 0; }
  @media only screen and (min-width: 768px) {
    .footer-top-nav {
      max-width: none;
      text-align: left; } }

.left-nav {
  grid-row: 2 / 3;
  padding-top: 20px;
  grid-column: 1 / span 3; }
  @media only screen and (min-width: 768px) {
    .left-nav {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin: 0;
      padding: 0; } }
  @media only screen and (min-width: 1024px) {
    .left-nav {
      grid-column: 1 / span 2; } }

.right-nav {
  grid-row: 3 / 4;
  padding-bottom: 50px;
  margin-bottom: 30px;
  grid-column: 1 / span 3; }
  @media only screen and (min-width: 768px) {
    .right-nav {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      margin: 0 0 0 50%;
      padding: 0; } }
  @media only screen and (min-width: 1024px) {
    .right-nav {
      margin-left: 0;
      grid-column: 4 / span 2; } }

.social-container {
  grid-column: 1 / span 3;
  grid-row: 4 / 5;
  position: relative; }
  .social-container div {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center; }
  @media only screen and (min-width: 768px) {
    .social-container {
      grid-column: 1 / span 3;
      grid-row: 2 / 3; }
      .social-container div {
        display: block; } }
  @media only screen and (min-width: 1024px) {
    .social-container {
      grid-column: 1 / span 6; } }

.footer-bottom {
  margin-top: 60px;
  font-size: 14px;
  text-align: center; }
  .footer-bottom p {
    margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      text-align: left; }
      .footer-bottom p {
        margin-bottom: 0; } }

.hidden {
  display: none; }

.relative-padding {
  padding-top: 60px; }
  @media only screen and (min-width: 768px) {
    .relative-padding {
      padding: 0; } }

/*# sourceMappingURL=app.css.map */
