nav li {
  list-style: none;
  display: inline-block;
}

.nav {
  padding: 20px 0;

  a {
    font: 500 18px $font-family-base;
    color: $base-dark;
  }

  a:hover {
    color: $accent-red;
  }

  a.active {
    font-weight: 600;
    color: $main-red;
  }
}

.main-nav {
  display: none;

  li {
    margin-left: 40px;
  }

  li:first-child {
    margin-left: 0;
  }

  @include query($tablet) {
    display: block;
  }
}

.mobile-nav {

  li {
    display: block;
  }

  a {
    padding: 30px 0;
    display: block;
    position: relative;
  }

  span {
    position: absolute;
    top: 20px;
    font: inherit;
    font-weight: 600;
  }
}

.footer-top-nav {
  h4 {
    color: $main-red;
    font: 36px $font-family-accent;
  }

  li {
    display: block;
    margin-top: 25px;
  }

  a {
    font-size: 18px;
  }
}

.footer-bottom-nav {

  li {
    padding: 0 12px;
    border-left: 1px solid $base-dark;
  }

  li:first-child {
    padding-left: 0;
    border-left: none;
  }

}

.footer-bg .footer-bottom-nav {
  li {
    border-color: $base-white;
  }
}

.icon-menu-mobile {
  padding-top: 25px;

  @include query($tablet) {
    display: none;
  }
}

.nav-mobile-container {
  width: 85vw;
  height: 100vh;
  position: fixed;
  right: -85vw;
  z-index: 5;
  background-color: #fff;
  padding-left: 40px;
  transition: right .5s;

  @include query($tablet) {
    display: none;
  }
}

.nav-mobile-container-open {
  right: 0;
}

.push-body {
  left: -85vw;
}

.btn-mobile {
  width: 200px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}

.mobile-bg {
  transition: all .5s;
  background-color: $main-red;
  opacity: 0;
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.mobile-bg-shown {
  opacity: 1;
}

.icon-menu-close {
  background-color: $base-white;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 7;
}

.icon-menu-close-shown {
  opacity: 1;
}