.tax-identifier {
  grid-column: 1 / span 2;
  grid-row-start: 2;
  width: 70%;
  color: $base-white;
  position: absolute;
  top: 10%;

  @include query($tablet) {
    width: 100%;
    grid-column: 1 / 2;
    grid-row-start: 1;
  }

  @include query($desktop-small) {
    grid-column: 1 / span 2;
  }
}

.tax-info {
  position: relative;
  margin: 35% 0 0 15%;
  z-index: 1;

  @include query($tablet) {
    text-align: center;
    margin-top: 20%;
    margin-left: 0;
  }

  @include query($desktop-small) {
    margin-top: 30%;
  }

  span {
    font-size: 16px;
    margin-bottom: 15px;

    @include query($smartphone) {
      font-size: 20px;
    }

    @include query($tablet) {
      font-size: 16px;
      margin-bottom: 10px;
    }

    @include query($desktop-small) {
      font-size: 24px;
      margin-bottom: 20px;
    }

    @include query($desktop-hd) {
      font-size: 28px;
    }
  }

  strong {
    font-weight: 600;
  }
}

.svg-bg {
  position: absolute;
  z-index: 0;
}

.tax-bg {
  fill: $base-dark;
}

.update-bg {
  fill: $main-red;
}

.overview-bg {
  fill: $contrast-blue;
}

.company-overview-bg {
  background-color: $contrast-blue;

  @include query($tablet) {
    background-color: transparent;
  }
}

.report-updates {
  grid-column: 2 / span 2;
  grid-row-start: 2;
  position: relative;
  width: 90%;
  margin: 0 auto;

  @include query($tablet) {
    grid-column: 5 / span 2;
    grid-row-start: 1;
  }

  @include query($desktop-small) {
    grid-column: 9 / span 4;
  }

  @include query($desktop-hd) {
    width: 80%;
  }
}

.main-bg {
  padding-top: 160px;
  width: 300vw;
  z-index: -2;
}

.main-bg-l {
  display: none;

  @include query($desktop-small) {
    display: block;
  }
}

.main-bg-s {
  @include query($desktop-small) {
    display: none;
  }
}

.chart {
  position: relative;
}

.chart-info {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 58%;
  text-align: center;
  color: $base-white;

  @include query($desktop-small) {
    top: 55%;
  }

  span {
    display: block;
  }
}

.risk-chart-info {
  top: 60%;
}

.risk-chart {
  grid-column: 1 / span 3;
  grid-row: 2 / 3;
  width: 60%;
  margin: 0 auto;

  @include query($smartphone) {
    width: 40%;
  }

  @include query($tablet) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: 90%;
  }

  @include query($desktop-small) {
    grid-column: 1 / span 4;
    width: 75%;
  }
}

.chart-number {
  font: 70px $font-family-accent;
  line-height: 1;

  @include query($smartphone) {
    font-size: 84px;
  }

  @include query($desktop-small) {
    font-size: 110px;
  }

  @include query($desktop-hd) {
    font-size: 140px;
  }
}

.risk-number {
  position: relative;
  left: -5%;
}

.chart-text {
  text-transform: uppercase;
}

.report-update-text {
  font: italic 600 18px $font-family-base;

  @include query($smartphone) {
    font-size: 22px;
  }

  @include query($desktop-small) {
    font-size: 30px;
  }

  @include query($desktop-hd) {
    font-size: 36px;
  }
}

.risk-text {
  font: italic 600 16px $font-family-base;
  text-transform: uppercase;

  @include query($desktop-small) {
    font-size: 24px;
  }

  @include query($desktop-hd) {
    font-size: 28px;
  }
}

.chart-label {
  width: 75%;
  margin: 0 auto;
}

.report-update-label {
  font: italic 700 10px $font-family-base;

  @include query($smartphone) {
    font-size: 12px;
  }

  @include query($desktop-small) {
    font-size: 16px;
  }
}

.risk-disclaimer {
  font: italic 700 14px $font-family-base;
  text-align: center;
  width: 65%;
  margin: 10px auto 0;

  @include query($tablet) {
    margin-top: 30px;
  }

  @include query($desktop-small) {
    width: 100%;
    margin: 30px 0 0;
    font-size: 16px;
  }

  @include query($desktop-hd) {
    margin-top: 40px;
  }
}