*,
*:before, 
*:after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 16px $font-family-base; 
  line-height: 22px;
  color: $base-dark;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

// Single direction margin

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr{
  margin: 0 0 $space-base;
  padding: 0;
}