a {
  text-decoration: none;
  color: $base-dark;

  &:hover {
    color: $main-red;  
  }
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn-outlined {
  @extend .btn;
  display: inline-block;
  height: 30px;
  border-radius: 15px;
  font: italic 600 14px $font-family-base;
  color: inherit;
  border: 1px solid $main-red;
  padding: 4px 15px 0;

  &:hover {
    border-width: 2px;
  }
}

.btn-form {
  text-transform: uppercase;
}

.btn-info {
  @extend .btn-outlined;
  transition: all .3s;
  
  span:before {
    font-size: 14px;
    margin-right: 8px;
  }
}

.btn-white {
  @extend .btn;
  height: 40px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FFF;
  font: italic 600 14px $font-family-base;
  color: $main-red;

  &:hover {
    font-weight: 700;
  }
}

.btn-simple {
  @extend .btn;
  color: $main-red;
  font: italic 500 14px $font-family-base;
}