// ------------------
// ----- Colors -----
// ------------------

// Overall Colors
$main-red: #FF3636; //Pink-Red
$accent-red: #FF5050; //Pink-Red (mouseover)

$main-blue: #768CAD; //Dusty Blue
$contrast-blue: #E4E8EF; //Light Blue

$base-dark: #000245; //Navy
$base-white: #FFFFFF; //White

// Score Colors
$score-green: #0F9A45;
$score-lightgreen: #85B93D;
$score-yellow: #FBD734;
$score-orange: #F57423; 
$score-red: #EF1111; 


// ------------------
// ----- Fonts ------
// ------------------

$font-family-base: 'Merlo Neue', sans-serif;
$font-family-accent: 'Kaleidos', cursive;
$font-icons: 'FontAwesome';
 

// ------------------
// ---- Spacing -----
// ------------------

$space-base: 1rem;


// ----------------------
// ---- Breakpoints -----
// ----------------------

$smartphone: 320px;
$tablet: 720px;
$desktop-small: 1024px;
$desktop-hd: 1200px;

